{% extends 'mail/base.html' %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <a class="p-2 nav-link active" href="{% url 'mail:settings_create' %}">Добавить настройку</a>
        <div class="card box-shadow">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th class="w-30">Периодичность</th>
                        <th class="w-30">Статус</th>
                        <th class="w-30">Дата первой отправки</th>
                        <th class="w-30">Дата следующей отправки</th>
                    </tr>
                    {% for object in object_list %}
                    {% if object.owner == request.user or user.is_superuser %}
                    <tr>
                        <td scope="row">{{ object.periodicity }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.date_start }}</td>
                        <td>{{ object.date_next }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}