{% extends 'mail/base.html' %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <a class="p-2 nav-link active" href="{% url 'mail:mail_create' %}">Создать письмо</a>
        <div class="card  box-shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Заголовок</th>
                        <th width="58%">Содержание письма</th>
                        <th width="12%"></th>
                    </tr>
                    {% for object in object_list %}
                    {% if object.owner == request.user or user.is_superuser %}
                    <tr>
                        <td scope="row">{{ object.head }}</td>
                        <td>{{ object.body }}</td>
                        <td><a href="{% url 'mail:mail_delete' object.pk %}" type="button" class="nav-link">Удалить</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}